@import "https://unpkg.com/ress/dist/ress.min.css";
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-size: 1.6em;
    line-height: 1;
    color: #212121;
    background: #efefef;
    font-family: "Reggae One", system-ui;
}
/*==========================
/*   
*/  
/*        全体
/*
============================*/
main {
    width: 1000px;
    padding: 80px;
    margin: 100px auto;
    background: #fff;
}

/*------------------------------
/*      section内
-----------------------------*/
section h2 {
    width: 100%;
}
section p {
    /* padding: 0 1em; */
    line-height: 1.8;
}
section ul {
    padding: 0 2em;
}


/*--------------------------
/*   見出し
-----------------------------*/
h2 {
    line-height: 2;
    text-align: center;
    /* border-top: 2px solid #000; */
    border: 2px solid #000;
    margin-bottom: 1em;
    background-image: url("..//img/_.jpeg");
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
}
h3 {
    line-height: 1.5;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}
h3:nth-of-type(n + 2) {
    margin-top: 1.5em;
}

/*=============================
*/
/*      section#profile
*/
/*==============================*/

#profile {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid #000; */
}
/* #profile img {
    display: block;
    margin: auto;
} */


#profile .Name {
    display: flex;
    flex-direction: column;
}

#profile .my-name {
    width: 100%;
    font-size: 2em;
    text-align: left;
    margin: 0em 0.6em;
    font-family: "Reggae One", system-ui;
    font-style: normal;
    color: yellow;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0 5px #000,
    0 6px #000,
    0 7px #000,
    0 8px #bbb,
    0 9px #bbb,
    0 10px #bbb,
    0 10px 8px #000000;
}

#profile .my-first-name {
    width: 100%;
    font-size: 0.4em;
    text-align: left;
    margin: 1em 2em 0em 9.8em;;
    font-family: "Reggae One", system-ui;
    font-weight: 400;
    font-style: normal;
}

#profile .my-name2 {
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    margin: 0.5em 0.5em 0.5em 1.0em;
    color: yellow;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0 5px #000,
    0 6px #000,
    0 7px #000,
    0 8px #bbb,
    0 9px #bbb,
    0 10px #bbb,
    0 10px 8px #000000;
}

#profile .my-name3 {
    width: 100%;
    text-align: left;
    color: white;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0 5px #000,
    0 6px #000,
    0 7px #000,
    0 8px #bbb,
    0 9px #bbb,
    0 10px #bbb,
    0 10px 8px #000000;
}

#profile .line-1 {
    border: 8px  solid #000;
    display: block;
    margin: auto;
    line-height: 2;
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
    height: 192px;
    background-image: url("../img/katsuki.jpeg");
    background-position: right 12%;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
}

/* #profile .line-1 p {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    margin: 0.5em 0 0.5em;
} */

#profile .L-area {
    border: 8px solid #000;
    display: block;
    margin: auto;
    line-height: 2;
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
    height: 180px;
    background-image: url("../img/dot.jpeg");
    background-size: 100%;
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
}

.birthday {
    display: flex;
}
.birthday .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.from {
    display: flex;
}
.from .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.nice {
    display: flex;
}
.nice .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.bad {
    display: flex;
}
.bad .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.web {
    display: flex;
    align-items: center;
}
.web .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.apuri {
    display: flex;
    align-items: center;
}
.apuri .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.color {
    display: flex;
    align-items: center;
}
.color .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.animal {
    display: flex;
    align-items: center;
}
.animal .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.food {
    display: flex;
    align-items: center;
}
.food .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.kisetu {
    display: flex;
    align-items: center;
}
.kisetu .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.basho {
    display: flex;
    align-items: center;
}
.basho .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.kotoba {
    display: flex;
    align-items: center;
}
.kotoba .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.human {
    display: flex;
    height: 62px;
}
.human .green {
    color: green;
    width: 200px;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.stady {
    display: flex;
    align-items: center;
}
.stady .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.sports {
    display: flex;
    align-items: center;
}
.sports .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.book {
    display: flex;
    align-items: center;
}
.book .green {
    color: green;
    width: 172px;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.eiga {
    display: flex;
    align-items: center;
}
.eiga .green {
    color: green;
    width: 216px;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.game {
    display: flex;
    align-items: center;
}
.game .green {
    color: green;
    text-shadow:
    0 1px #000,
    0 2px #000,
    0 3px #000,
    0 4px #000,
    0px 5px 2px #000000;
}

.left-area {
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    margin: 0.8em 0.8em;
}

.left-area2 {
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    margin: 0.8em 0.8em;
    border: 8px solid #000;
    display: block;
    margin: auto;
    background-image: url("..//img/ストライプ.jpeg");
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
}

.left-area3 {
    margin: 0.8em 0.8em;
}


.R-area {
    border: 8px solid #000;
    display: block;
    line-height: 2;
    text-align: center;
    margin: 1em 0em;
    width: 100%;
    height: 360px;
    background-image: url("..//img/osero.jpeg");
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: lighten;
}

.right-area {
    width: 97%;
    font-size: 1.2em;
    text-align: left;
    margin: 0.8em 0.8em;
}


#link {
    text-align: center;
}
#link a {
    font-size: 2.8em;
    color: inherit;
}
#link a:nth-of-type(n + 2) {
    margin-left: 0.5em;
} 
#link a i {
    transition: 0.5s;
}
#link .fa-x:hover {
    color: #01aaec;
}
#link .fa-instagram-square:hover {
    color: #dd2a7b;
}
#link .fa-youtube:hover {
    color: #f40000;
}
#link .fa-tiktok:hover {
    color: #64c0c7;
}

/* ボタン全体の外枠指定 */
.snsbtniti {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 350px;/* ボタンを設置する場所の最大横幅 */
    margin: 0 auto;/* ボタンを中央へ */
    }
    
    /* ulタグの内側余白なしと箇条書きの黒丸削除 */
    ul.snsbtniti {
    padding: 0!important;
    list-style-type: none!important;
    }
    
    /* ボタン同士の余白調整 */
    .snsbtniti li {
    flex: 0 0 33%; /* ボタン3つ並びへ */
    text-align: center!important;
    }
    
    /* ボタン全体 */
    .flowbtn2 {
    font-family: 'Noto Sans Japaneses', sans-serif; /* フォント指定 */
    position: relative;
    display: inline-block;
    width: 75px;/* 背景横幅 */
    height: 65px; /* 背景高さ */
    font-size: 30px;
    border-radius: 4px;
    transition: .5s;
    text-decoration: none;
    margin-bottom:10px;/* ボタン下の余白 */
    }
    
    /* アイコンの位置を少し下げる */
    .flowbtn2 i {
    position: relative;
    top: 5px;
    }
    
    /* ボタン内テキスト調整 */
    .flowbtn2 div {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    }
    
    /* マウスホバー時、ボタン内を白に指定 */
    .flowbtn2:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    }
    /* インスタ・Amazonのアイコンを少し大きく */
    .flowbtn2 i.fa-brands.fa-instagram,.flowbtn2 i.fa-brands.fa-amazon {
    font-size: 44px;
    }
    
    /* エックス枠線 */
    .my_x2 {
    border: solid 1px #000;
    color: #000;
    }
    /* エックスマウスホバー時 */
    .my_x2:hover{
    border: solid 1px #000;
    background-color: #000;
    }
    
    /* Instagram枠線 */
    .my_instagram2{
    border:solid 1px #c6529a;
    color: #c6529a;
    }
    /* Instagramマウスホバー時 */
    .my_instagram2:hover {
    border: solid 1px #c6529a;
    background: linear-gradient(45deg, rgba(254,212,117,1) 0%,rgba(229,61,93,1) 50%,rgba(194,49,134,1) 70%,rgba(156,56,187,1) 100%);
    }
    
    /* Facebook枠線 */
    .my_facebook2 {
    border: solid 1px #1877f2;
    color: #1877f2;
    }
    /* Facebookマウスホバー時 */
    .my_facebook2:hover {
    border: solid 1px #1877f2;
    background-color: #1877f2;
    }
    
    /* YouTube枠線 */
    .my_youtube2 {
    border: solid 1px #da1725;
    color: #da1725;
    }
    /* YouTubeマウスホバー時 */
    .my_youtube2:hover {
    border: solid 1px #da1725;
    background-color: #da1725;
    }
    
    /* TikTok枠線 */
    .my_tiktok2 {
    border: solid 1px #000;
    color: #000;
    }
    /* TikTokマウスホバー時 */
    .my_tiktok2:hover {
    border: solid 1px #000;
    background-color: #000;
    }
    
    /* Amazon枠線 */
    .my_amazon2 {
    border: solid 1px #ff9900;
    color: #ff9900;
    }
    /* Amazonマウスホバー時 */
    .my_amazon2:hover {
    border: solid 1px #ff9900;
    background-color: #ff9900;
    }
    
    /* LINE枠線 */
    .my_line2 {
    border: solid 1px #00b900;
    color: #00b900;
    }
    /* LINEマウスホバー時 */
    .my_line2:hover {
    border: solid 1px #00b900;
    background-color: #00b900;
    }
    
    /* ピンタレスト枠線 */
    .my_pinterest2 {
    border: solid 1px #bd081c;
    color: #bd081c;
    }
    /* ピンタレストマウスホバー時 */
    .my_pinterest2:hover {
    border: solid 1px #bd081c;
    background-color: #bd081c;
    }
    
    /* はてブ枠線 */
    .my_hatena2 {
    border: solid 1px #1ba5dc;
    color: #1ba5dc;
    }
    /* はてブマウスホバー時 */
    .my_hatena2:hover {
    border: solid 1px #1ba5dc;
    background-color: #1ba5dc;
    }
    /* はてブビックリマーク */
    .my_hatena2 .fa-b::after {
    content: "!";
    padding-left: 5px;
    }
    
    /* Pocket枠線 */
    .my_pocket2 {
    border: solid 1px #ef3f56;
    color: #ef3f56;
    }
    /* Pocketマウスホバー時 */
    .my_pocket2:hover {
    border: solid 1px #ef3f56;
    background-color: #ef3f56;
    }
    
    /* Feedly枠線 */
    .my_feedly2 {
    border: solid 1px #6cc655;
    color: #6cc655;
    }
    /* Feedlyマウスホバー時 */
    .my_feedly2:hover {
    border: solid 1px #6cc655;
    background-color: #6cc655;
    }
    
    /* 楽天ROOM枠線 */
    .my_rakutenroom2 {
    border: solid 1px #c61d79;
    color: #c61d79;
    }
    /* 楽天ROOMマウスホバー時 */
    .my_rakutenroom2:hover {
    border: solid 1px #c61d79;
    background-color: #c61d79;
    }
    
    /* リンクドイン枠線 */
    .my_linkedin2 {
    border: solid 1px #0a66c2;
    color: #0a66c2;
    }
    /* リンクドインマウスホバー時 */
    .my_linkedin2:hover {
    border: solid 1px #0a66c2;
    background-color: #0a66c2;
    }
    
    /* ディスコード枠線 */
    .my_discord2 {
    border: solid 1px #7289da;
    color: #7289da;
    }
    /* ディスコードマウスホバー時 */
    .my_discord2:hover {
    border: solid 1px #7289da;
    background-color: #7289da;
    }
    
    /* Podcast枠線 */
    .my_podcast2 {
    border: solid 1px #813BF2;
    color: #813BF2;
    }
    /* Podcastマウスホバー時 */
    .my_podcast2:hover {
    border: solid 1px #813BF2;
    background-color: #813BF2;
    }